<header>
            <!-- *** Debut logo entreprise *** -->
            <div class="a_logo">
                <i class="ion-earth"></i>
                <p>Nom <strong>Entreprise</strong></p>
            </div>
            <!-- *** Fin logo entreprise *** -->

            <div class="a_header-content" id="a_header-content">
                <!-- *** Debut header title *** -->
                <div class="a_breadcrumb" id="a_breadcrumb">
                    <div class="a_br-content">
                        <span class="a_home">
                            <!-- <a href="#">TABLEAU DE BORD</a> -->
                            TABLEAU DE BORD
                        </span>
                    </div>
                </div>
                <!-- *** Debut header title *** -->

                <div class="a_search-form">
                <!--
                    <form action="#">
                        <input type="text" name="search" class="a_search-input" id="a_search-input">
                        <button type="submit" id="a_search-responsive">
                            <i class="ion-search"></i>
                        </button>
                        <button type="submit" id="a_search-close">
                            <i class="ion-close-round"></i>
                        </button>
                    </form>
                -->
                </div>

                <!-- *** Debut header user_profil *** -->
                <div class="a_account" id="a_account">
                        <img src="src/img/avatar.jpg" alt="">
                        <i class="ion-chevron-down" id='ico-account'></i>
                </div>
                <div class="a_topmenu hide" id="topbar-menu">
                    <a href=""><i class="ion-person"></i> Mes informations</a>
                    <a href=""><i class="ion-ios7-cart"></i> Mon solde</a>
                    <a href=""><i class="ion-power"></i> Se deconnecter</a>
                </div>
                <!-- *** Fin header user_profil *** -->
            </div>
        </header>
