<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Login page</title>
        
        <link rel="stylesheet" type="text/css" href="../static/src/css/bootstrap.css"
        				th:href="@{/src/css/bootstrap.css}"/>
        
        <link rel="stylesheet" type="text/css" href="../static/src/css/bootstrap-datepicker.css" 
        				th:href="@{src/css/bootstrap-datepicker.css}"/>

        <link rel="stylesheet" type="text/css" href="../static/src/css/app.css"
						th:href="@{/src/css/app.css}"/>
        
        <link rel="stylesheet" type="text/css" href="../static/src/assets/ionicons-1.5.2/css/ionicons.min.css"
        				th:href="@{/src/assets/ionicons-1.5.2/css/ionicons.min.css}"/>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' 
        				rel='stylesheet' type='text/css'/>
        
		<link rel="stylesheet" type="text/css" href="../static/src/css/fontawesome.css"
        				th:href="@{/src/css/fontawesome.css}"/>
        
        
        <link rel="stylesheet" type="text/css" href="../static/src/css/all.css"
        				th:href="@{/src/css/all.css}"/>
        
    </head>
    <body>
		<!-- *** Debut header *** -->
        	<div lang="en" th:include="include/header"></div>
        <!-- *** Fin header *** -->

        <!-- *** Debut menu sidebar *** -->
        	<div lang="en" th:include="include/sidebar"></div>
        <!-- *** Fin menu sidebar *** -->

        <!-- *** Debut dashboard content *** -->
        <div class="a_content">

            <div class="alert alert-secondary" role="alert">
                SAP systeme  <i class="ion-ios7-arrow-forward"> </i> Gestion des clients
            </div>

            <!-- *** Debut nouveau commande *** -->
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-info-circle"></i> Nouveau client
                </div>

                <!-- *** Debut card body *** -->
                <div class="card-body">
                    
		            <!-- *** Debut info client *** -->
		            <div class="row">
		                <!-- picture client -->
		                <div class="col-md-3">
		                    <img src="src/img/avatar.jpg" style="height: 240px; width: 240px;" alt="..." class="img-thumbnail">
		                </div>
		                <div class="col-md-9">
		
		                    <form th:action="@{saveClient}" method="post" th:object="${client}">
		                        <div class="form-group">
		                            <label for="nomClient">Nom :</label>
		                            <input type="text" th:field="*{nomClient}" class="form-control" 
		                            			aria-describedby="emailHelp" placeholder="Enter nom client"/>
		                            <span class="text-danger" th:errors="*{nomClient}" ></span>
		                        </div>
		                        
		                        <div class="form-group">
		                            <label for="prenomClient">Prenom :</label>
		                            <input type="text" th:field="*{prenomClient}" class="form-control"
		                            		 	aria-describedby="emailHelp" placeholder="Enter prenom client"/>
		                            <span class="text-danger" th:errors="*{prenomClient}" ></span>
		                        </div>
		                        
		                        <div class="form-group">
		                            <label for="villeClient">Ville :</label>
		                            <input type="text" th:field="*{villeClient}" class="form-control"
		                            			aria-describedby="emailHelp" placeholder="Enter ville client"/>
		                            <span class="text-danger" th:errors="*{villeClient}" ></span>
		                        </div>
		                        
		                        <div class="form-group">
		                            <label for="telClient">Telephone :</label>
		                            <input type="text" th:field="*{telClient}" class="form-control"
		                            			aria-describedby="emailHelp" placeholder="Enter telephone client"/>
		                            <span class="text-danger" th:errors="*{telClient}" ></span>
		                        </div>
		                        
		                        <div class="form-group">
		                            <label for="emailClient">Email :</label>
		                            <input type="email" th:field="*{mailClient}" class="form-control"
		                            			aria-describedby="emailHelp" placeholder="Enter email client"/>
		                            <span class="text-danger" th:errors="*{mailClient}" ></span>
		                        </div>
		
		                        <button type="submit" style="float: right" class="btn btn-success"><i class="fas fa-plus-circle"></i> Ajouter</button>
		                        
		                        <a style="float: right; margin-right: 10px;" class="btn btn-primary" th:href="@{listeClient}">
		                        	<i class="fas fa-undo"></i> Annuler
		                        </a>  
		                    </form>
		
		                </div>
		
		            </div>
		
		            <br>            

                </div>
                <!-- *** Fin card body *** -->
            </div>
            <!-- *** Debut nouveau commande *** -->
        </div>
        <!-- *** Fin dashboard content *** -->

        <!-- *** Debut dashboard footer *** -->
			<div lang="en" th:include="include/footer"></div>         
        <!-- *** Fin dashboard footer *** -->
    </body>

    <!-- *** JQuery bibliotheque *** -->
    <script src="../static/src/js/jquery-3.3.1.js"
    		th:src="@{/src/js/jquery-3.3.1.js}"></script>

	<!-- *** Afficher sous menu *** -->
    <script type="text/javascript" src="../static/src/js/app.js"
    		th:src="@{/src/js/app.js}"></script>

    <!-- *** Bootstrap bibliotheque *** -->
    <script defer src="../static/src/js/bootstrap.js"
    		th:src="@{/src/js/bootstrap.js}"></script>
     	
    <!-- *** Fontawesome icons bibliotheque *** -->
    <script type="text/javascript" src="../static/src/js/fontawesome.js"
    		th:src="@{/src/js/fontawesome.js}"></script>
    
    <!-- *** internal js file *** -->
    <script type="text/javascript" src="../static/src/js/all.js"
    	th:src="@{/src/js/all.js}"></script>
        	    
</html>
