<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport'
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>Home page</title>

<link rel="stylesheet" href="../static/src/css/bootstrap.css"
	th:href="@{/src/css/bootstrap.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/src/css/bootstrap-datepicker.css"
	th:href="@{src/css/bootstrap-datepicker.css}" />

<link rel="stylesheet" href="../static/src/css/app.css"
	th:href="@{/src/css/app.css}" />

<link rel="stylesheet" href="../static/src/css/cmdeStyle.css"
	th:href="@{/src/css/cmdeStyle.css}" />

<link rel="stylesheet"
	href="../static/src/assets/ionicons-1.5.2/css/ionicons.min.css"
	th:href="@{/src/assets/ionicons-1.5.2/css/ionicons.min.css}" />

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="../static/src/css/fontawesome.css"
	th:href="@{/src/css/fontawesome.css}" />


<link rel="stylesheet" href="../static/src/css/all.css"
	th:href="@{/src/css/all.css}" />

<link rel="stylesheet" href="../static/src/css/homeChart.css"
	th:href="@{/src/css/homeChart.css}" />

</head>
<body>
	<!-- *** Debut header *** -->
	<div lang="en" th:include="include/header"></div>
	<!-- *** Fin header *** -->

	<!-- *** Debut menu sidebar *** -->
	<div lang="en" th:include="include/sidebar"></div>
	<!-- *** Fin menu sidebar *** -->

	<!-- *** Debut dashboard content *** -->
	<div class="a_content">

		<!-- <div class="alert alert-secondary" role="alert">
                SAP systeme  <i class="ion-ios7-arrow-forward"> Bienvenue</i>
            </div> -->

		<!-- *** Debut home content *** -->
		<div class="container-fluid div_stat">
			<!-- statistic general -->
			<div class="row home_stat">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-3 col-sm-6 padZero">
							<div class="card card-stat">
								<div class="media">
									<div class="media-left meida media-middle media-stat">
										<span><i class="fas fa-user"></i></span>
									</div>
									<div class="media-body media-text-right">
										<h1 class="float-right">
											<span th:text="${nbClients}"></span>CLIENTS
										</h1>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 padZero">
							<div class="card card-stat">
								<div class="media">
									<div class="media-left meida media-middle media-stat">
										<span><i class="fas fa-cart-arrow-down"></i></span>
									</div>
									<div class="media-body media-text-right">
										<h1 class="float-right">
											<span th:text="${nbCmdesECours}"></span>EN COURS
										</h1>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 padZero">
							<div class="card card-stat">
								<div class="media">
									<div class="media-left meida media-middle media-stat">
										<span><i class="fas fa-truck"></i></span>
									</div>
									<div class="media-body media-text-right">
										<h1 class="float-right">
											<span th:text="${nbCmdesPretALivree}"></span>PRET A LIVREE
										</h1>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 padZero">
							<div class="card card-stat">
								<div class="media">
									<div class="media-left meida media-middle media-stat">
										<span><i class="fas fa-shipping-fast"></i></span>
									</div>
									<div class="media-body media-text-right">
										<h1 class="float-right">
											<span th:text="${nbCmdesLivree}"></span>LIVREE
										</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<i class="fas fa-chart-bar"></i> Commande mensuelles
					</div>

					<!-- *** Debut card body *** -->
					<div class="card-body ste_info">
						<canvas id="myChart" width="400" height="150"></canvas>
					</div>
					<!-- *** Fin card body *** -->
				</div>
			</div>

			<!-- *** Debut card solde *** -->
			<div class="col-md-3">.</div>
		</div>
		<!-- *** Debut home content *** -->

	</div>
	<!-- *** Fin dashboard content *** -->

	<!-- *** Debut dashboard footer *** -->
	<div lang="en" th:include="include/footer"></div>
	<!-- *** Fin dashboard footer *** -->
</body>

<!-- *** JQuery bibliotheque *** -->
<script src="../static/src/js/jquery-3.3.1.js"
	th:src="@{/src/js/jquery-3.3.1.js}"></script>

<!-- *** Afficher sous menu *** -->
<script type="text/javascript" src="../static/src/js/app.js"
	th:src="@{/src/js/app.js}"></script>

<!-- *** Bootstrap bibliotheque *** -->
<script defer src="../static/src/js/bootstrap.js"
	th:src="@{/src/js/bootstrap.js}"></script>

<!-- *** Fontawesome icons bibliotheque *** -->
<script type="text/javascript" src="../static/src/js/fontawesome.js"
	th:src="@{/src/js/fontawesome.js}"></script>

<!-- *** internal js file *** -->
<script type="text/javascript" src="../static/src/js/all.js"
	th:src="@{/src/js/all.js}"></script>

<!-- *** JQuery easypiechart plugin *** -->
<script type="text/javascript"
	src="../static/src/js/jquery.easypiechart.min.js"
	th:src="@{/src/js/jquery.easypiechart.min.js}"></script>

<!-- *** ChartJs plugin *** -->	
<script type="text/javascript"
	src="../static/src/js/chart.js"
	th:src="@{/src/js/chart.js}"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script type="text/javascript">
var canvas = document.getElementById('myChart');
var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July", "Aout", "Septembre", "Octobre", "Novembre", "December"],
    datasets: [
        {
            label: "Nombre de commandes mensuels",
            backgroundColor: "rgba(133,174,229,0.2)",
            borderColor: "rgba(29,73,229,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(160,132,255,0.4)", 
            hoverBorderColor: "rgba(255,99,132,1)",
            data: [65, 59, 30, 81, 56, 55, 40, 14, 24, 58, 53, 46],
        }
    ]
};
var option = {
animation: {
				duration:5000
}

};


var myBarChart = Chart.Bar(canvas, {
	data:data,
  options:option
});
</script>


</html>
