<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Login Form Design</title>
    
    <link rel="stylesheet" type="text/css" href="../static/src/css/login_style.css"
        					   th:href="@{/src/css/login_style.css}"/>
</head>
<body>
    <div class="loginbox">
    <img th:src="@{/src/img/avatar_login.png}" class="avatar">
        <h1>AUTHENTIFICATION</h1>

        <form th:action="@{/login}" th:object="${loginForm}" method="post">
            <p>Username</p>
            <input type="text" placeholder="Entrer Username" id="username" name="username" autofocus="autofocus">
        	 
        	
            <p>Password</p>
            <input type="password" placeholder="Entrer Password" id="password" name="password" autofocus="autofocus">
        
            <input type="submit" value="Connexion">
            
            <!-- <a href="#">mot de pass oublié</a><br>
            <a href="#"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Inscription" /></a> -->
        </form>
    </div>

</body>
</head>
</html>