<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Login page</title>
        
        <link rel="stylesheet" href="../static/src/css/bootstrap.css"
        					   th:href="@{/src/css/bootstrap.css}"/>
        
        <link rel="stylesheet" href="../static/src/css/login.css"
        th:href="@{/src/css/login.css}"/>

        
        <link rel="stylesheet" href="../static/src/css/app.css"
        th:href="@{/src/css/app.css}"/>
        
        <link rel="stylesheet" href="../static/src/assets/ionicons-1.5.2/css/ionicons.min.css"
        th:href="@{/src/assets/ionicons-1.5.2/css/ionicons.min.css}"/>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' 
        rel='stylesheet' type='text/css'/>
        
		<link rel="stylesheet" href="../static/src/css/fontawesome.css"
        th:href="@{/src/css/fontawesome.css}"/>
        
        
        <link rel="stylesheet" href="../static/src/css/all.css"
        th:href="@{/src/css/all.css}"/>
        
    </head>
    <body>
    
    	<div class="backlog content_login">
    		<div class="card bg-light">
    			<div class="card-header">
    				<i class="fas fa-users-cog"></i> AUTHENTIFICATION
  				</div>
  				
  				<div class="card-body">
		    		<div class="row">
			    		<div class="login_logo col-md-2  hidden-xs  hidden-sm">
			    			
			    		</div>
			    		
			    		<div class="login_form col-md-8 col-xs-12 col-sm-12">
			    			<div class="row">
			    				<div class="offset-md-5">
			    					<!-- <img src="../static/src/img/userlog.png" th:src="@{/img/userlog.png}" width="100" height="100" class="img-rounded hidden-xs"/> -->
			    					<!-- <img src="images/userlog.png" width="100" height="100" class="img-rounded hidden-xs"/> -->
			    					<img th:src="@{/src/img/userlog.png}" alt="" width="100" height="100" class="img-rounded hidden-xs"/>
			    				</div>
			    			</div>
			    			
			    			<h2> Saisissez vos id utilisateur et mot de passe : </h2>
			    			
			    			<form th:action="@{/login}" th:object="${loginForm}" method="post">
		                            <!-- <p th:if="@{invalidLogin}"> Username or password is wrong</p>  -->
		                            <br>
		                            <div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
									  </div>
									  <input type="text" class="form-control" placeholder="Username" aria-label="Username" 
									  			aria-describedby="basic-addon1" id="username" name="username" autofocus="autofocus"/>
									</div>
		                            
		                            <div class="input-group mb-3">
									  <div class="input-group-prepend">
									    <span class="input-group-text" id="basic-addon1"><i class="fas fa-unlock-alt"></i></span>
									  </div>
									  <input type="password" class="form-control" placeholder="mot de passe" aria-label="password"
									  			aria-describedby="basic-addon1" id="password" name="password" autofocus="autofocus"/>
									</div>
		     					    
		     					    <button type="submit" style="margin-bottom: 5px;" class="btn btn-primary btn-lg btn-block">Connexion</button>
		     					    <!-- <input type="submit" value="Log in"/> -->
									<a href="#"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Inscription" /></a>
							</form>
			    		</div>
			    	</div>
				</div>    	
			</div>
		</div>
    
    </body>


    <!-- *** JQuery bibliotheque *** -->
    <script src="../static/src/js/jquery-3.3.1.js"
    		th:src="@{/src/js/jquery-3.3.1.js}"></script>

	<!-- *** Afficher sous menu *** -->
    <script type="text/javascript" src="../static/src/js/app.js"
    		th:src="@{/src/js/app.js}"></script>

    <!-- *** Bootstrap bibliotheque *** -->
    <script defer src="../static/src/js/bootstrap.js"
    		th:src="@{/src/js/bootstrap.js}"></script>
     	
    <!-- *** Fontawesome icons bibliotheque *** -->
    <script type="text/javascript" src="../static/src/js/fontawesome.js"
    		th:src="@{/src/js/fontawesome.js}"></script>
    
    <!-- *** internal js file *** -->
    <script type="text/javascript" src="../static/src/js/all.js"
    	th:src="@{/src/js/all.js}"></script>
        	    
</html>
