<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>Login page</title>
        
        <link rel="stylesheet" href="../static/src/css/bootstrap.css"
        					   th:href="@{/src/css/bootstrap.css}"/>
        
        <link rel="stylesheet" type="text/css" href="../static/src/css/bootstrap-datepicker.css" 
        th:href="@{src/css/bootstrap-datepicker.css}"/>

        <link rel="stylesheet" href="../static/src/css/app.css"
        th:href="@{/src/css/app.css}"/>
        
        <link rel="stylesheet" href="../static/src/css/cmdeStyle.css"
        th:href="@{/src/css/cmdeStyle.css}"/>
        
        <link rel="stylesheet" href="../static/src/assets/ionicons-1.5.2/css/ionicons.min.css"
        th:href="@{/src/assets/ionicons-1.5.2/css/ionicons.min.css}"/>
        
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' 
        rel='stylesheet' type='text/css'/>
        
		<link rel="stylesheet" href="../static/src/css/fontawesome.css"
        th:href="@{/src/css/fontawesome.css}"/>
        
        
        <link rel="stylesheet" href="../static/src/css/all.css"
        th:href="@{/src/css/all.css}"/>
        
    </head>
    <body>
		<!-- *** Debut header *** -->
        	<div lang="en" th:include="include/header"></div>
        <!-- *** Fin header *** -->

        <!-- *** Debut menu sidebar *** -->
        	<div lang="en" th:include="include/sidebar"></div>
        <!-- *** Fin menu sidebar *** -->

        <!-- *** Debut dashboard content *** -->
        <div class="a_content">

            <!-- <div class="alert alert-secondary" role="alert">
                SAP systeme  <i class="ion-ios7-arrow-forward"> Bienvenue</i>
            </div> -->

            <!-- *** Debut home content *** -->
            <div class="container-fluid div_stat">
            <div class="row home_stat">
            	<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 rec_stat" style="background-color: #0F62c8"> <!-- margin-left: 15px; -->
            		<p>Nombre de clients : 125</p>
            	</div>
            	
            	<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 rec_stat" style="background-color: #0F62c8"> <!-- margin-left: 15px; -->
            		<p>Nombre commandes livrée : 356</p>
            	</div>
            	
            	<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 rec_stat" style="background-color: #0F62c8">
            		<p>Nombre commandes en cours : 42</p>
            	</div>
            	
            	<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 rec_stat" style="background-color: #0F62c8">
            		<p>Total commandes : 12600 Dhs</p>
            	</div>
            </div>
            </div>
            
            <div class="row">
            	<div class="col-md-9">
		            <div class="card">
		                <div class="card-header">
		                    <i class="fas fa-info-circle"></i> Bienvenue mohamed
		                </div>
		
		                <!-- *** Debut card body *** -->
		                <div class="card-body ste_info">
		                	
		                </div>
		                <!-- *** Fin card body *** -->
		    		</div>
		    	</div>
		    		
		    		<!-- *** Debut card solde *** -->
		    	<div class="col-md-3" style="padding-left: 0px;">
		    		<div class="card">
						<h5 class="card-header"><i class="far fa-clock"></i> Commandes en attente</h5>
					  	<div class="card-body">
					    	<h5 class="card-title"></h5>
					    	<p class="card-text"></p>
					  	</div>
					</div>
				</div>
            </div>
            <!-- *** Debut home content *** -->
            
        </div>
        <!-- *** Fin dashboard content *** -->

        <!-- *** Debut dashboard footer *** -->
			<div lang="en" th:include="include/footer"></div>         
        <!-- *** Fin dashboard footer *** -->
    </body>

    <!-- *** JQuery bibliotheque *** -->
    <script src="../static/src/js/jquery-3.3.1.js"
    		th:src="@{/src/js/jquery-3.3.1.js}"></script>

	<!-- *** Afficher sous menu *** -->
    <script type="text/javascript" src="../static/src/js/app.js"
    		th:src="@{/src/js/app.js}"></script>

    <!-- *** Bootstrap bibliotheque *** -->
    <script defer src="../static/src/js/bootstrap.js"
    		th:src="@{/src/js/bootstrap.js}"></script>
     	
    <!-- *** Fontawesome icons bibliotheque *** -->
    <script type="text/javascript" src="../static/src/js/fontawesome.js"
    		th:src="@{/src/js/fontawesome.js}"></script>
    
    <!-- *** internal js file *** -->
    <script type="text/javascript" src="../static/src/js/all.js"
    	th:src="@{/src/js/all.js}"></script>
        	    
</html>
    