<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name='viewport'
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<title>Create commande</title>

<link rel="stylesheet" type="text/css"
	href="../static/src/css/bootstrap.css"
	th:href="@{/src/css/bootstrap.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/src/css/bootstrap-datepicker.css"
	th:href="@{src/css/bootstrap-datepicker.css}" />

<link rel="stylesheet" type="text/css" href="../static/src/css/app.css"
	th:href="@{/src/css/app.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/src/assets/ionicons-1.5.2/css/ionicons.min.css"
	th:href="@{/src/assets/ionicons-1.5.2/css/ionicons.min.css}" />

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css"
	href="../static/src/css/fontawesome.css"
	th:href="@{/src/css/fontawesome.css}" />

<link rel="stylesheet" type="text/css" href="../static/src/css/all.css"
	th:href="@{/src/css/all.css}" />

<link rel="stylesheet" type="text/css"
	href="../static/src/css/cmdeStyle.css"
	th:href="@{/src/css/cmdeStyle.css}" />

</head>
<body>
	<!-- *** Debut header *** -->
	<div lang="en" th:include="include/header"></div>
	<!-- *** Fin header *** -->

	<!-- *** Debut menu sidebar *** -->
	<div lang="en" th:include="include/sidebar"></div>
	<!-- *** Fin menu sidebar *** -->

	<!-- *** Debut dashboard content *** -->
	<div class="a_content">

		<div class="alert alert-secondary" role="alert">
			SAP systeme <i class="ion-ios7-arrow-forward"> </i> Nouveau Commande
		</div>

		<!-- *** Debut nouveau commande *** -->
		<div class="card">
			<div class="card-header">
				<i class="fas fa-info-circle"></i> Créer nouveau Commande
			</div>

			<!-- *** Debut card body *** -->
			<div class="card-body cmde_font">
				<!-- ** Select client ** -->
				<form th:action="@{/createCmde}" method="post" id="createCommande">
				<div class="row" id="clientName">
					<div class="col-md-3">
						<div th:if="${listClients != null and not #lists.isEmpty(listClients)}">
							<select class="custom-select" id="selectClient"
								name="selectClient" style="height: 30px;"
								th:field="*{listClients}">
								<option value="">Selectionner un client</option>
								<option th:each="client : ${listClients}"
									th:value="${client.idClient}" th:text="${client.nomClient}" />
							</select>
						</div>
					</div>
					
					<div class="col-md-3" id="statusCmde">
							<select class="custom-select" id="statusSelect" name="statusSelect" style="height: 30px;">
								<option selected>Status commande</option>
								<option value="En attente">En attente</option>
								<option value="En cours">En cours</option>
								<option value="Livrée">Livrée</option>
							</select>
					</div>
					
					<div class="col-md-3">
						<input type="date" id="dateLiv" name="dateLiv" style="height: auto; line-height: 10px;" class="custom-select custom-select-sm" />
					</div>

					
						<div class="col-md-3" id="infoClient">
								<button class="btn btn-sm btn-primary"
									id="createCmde" disabled="disabled">Créer</button>

							<input type="text" style="height: 30px;" class="form-control"
								id="idClient" name="idClient" hidden="" />
							
							<input type="text" style="height: 30px;" class="form-control"
								id="statusCmmde" name="statusCmmde" hidden="" />
						</div>
					
				</div> <!-- ** Fin select client ** -->
				
				
				</form>
				
				<!-- <div class="alert alert-info" th:if="${articleSuccess}"> </div> -->
				
			</div>
			<!-- *** Fin card body *** -->
		</div>
		<!-- *** Debut nouveau commande *** -->
	</div>
	<!-- *** Fin dashboard content *** -->

	<!-- *** Debut dashboard footer *** -->
	<div lang="en" th:include="include/footer"></div>
	<!-- *** Fin dashboard footer *** -->
	</div>
</body>

<!-- *** JQuery bibliotheque *** -->
<script src="../static/src/js/jquery-3.3.1.js"
	th:src="@{/src/js/jquery-3.3.1.js}"></script>

<!-- *** Afficher sous menu *** -->
<script type="text/javascript" src="../static/src/js/app.js"
	th:src="@{/src/js/app.js}"></script>

<!-- *** Bootstrap bibliotheque *** -->
<script defer src="../static/src/js/bootstrap.js"
	th:src="@{/src/js/bootstrap.js}"></script>

<!-- *** Fontawesome icons bibliotheque *** -->
<script type="text/javascript" src="../static/src/js/fontawesome.js"
	th:src="@{/src/js/fontawesome.js}"></script>

<!-- *** internal js file *** -->
<script type="text/javascript" src="../static/src/js/all.js"
	th:src="@{/src/js/all.js}"></script>

<!-- *** internal js file *** -->
<script type="text/javascript" src="../static/src/js/modal.js"
	th:src="@{/src/js/modal.js}"></script>

</html>
