/* 
 *
 *
	Application gestion commerciale, CSS style
 *
 *
 */



/* *****************************
   ********* Home style ******** 
***************************** */
.div_stat {
	margin-bottom: 15px;
}

.rec_stat {
	border-right: 2px solid #fff;
}

.home_stat p {
	color: #fff;
	padding: 0px;
}


/* ** Home style ** */
.card-stat {
	box-shadow : 0 5px 20px rgba(0, 0, 0, 0.05);
	padding : 10px;
	background-color : #F8F9FA;
}

.padZero {
	padding-left: 2px;
	padding-right: 2px;
}

.media-stat {
	font-size: 40px;
	padding-right: 40px;
}

.media h1 span {
	font-size: 28px;
	margin-right: 15px;
	color : #99A4AA;
}

.media span {
	color: #4680FF;
}

.media h2 {
	font-size: 14px;
}

.media-label {
	margin-top : 5px !important;
	padding: 5px;
	font-size: 28px;
}

.ste_info p {
	text-align: justify;
}

.mot_dir p {
	text-align: justify;
}

/* ************************** */


/* *****************************
   ***** New Commande style **** 
***************************** */
.cmde_font {
	font-size: 12px;	
}

.cmde_font input {
	font-size: 12px;
	height: 30px;
}

/* ************************** */


/* *****************************
   ***** Add Article style ***** 
***************************** */
#info_client span {
	margin-bottom: 10px;
	/* font-weight: bold;
	font-size: 14px; */
}

 #infoCmdeSupp {
 	display: none;
 } 
 
 
 /* ************************** */


/* *****************************
   ***** Mon compte style ****** 
***************************** */

.Repadding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
}


/* ************************** */


/* *****************************
   ******* Header style ******** 
***************************** */
.zIndextop {
	z-index: 10;
}

/* ************************** */


/* *******************************
   ***** Command view style ****** 
******************************** */
#addCmdeLine {
 	display: none;
 }
 
 #editCmdeLine {
 	display: none;
 }
 /* ************************** */
 

